altgraph==0.17.4
annotated-types==0.7.0
audioop-lts
cachetools==5.5.1
certifi==2024.12.14
charset-normalizer==3.4.1
colorama==0.4.6
defusedxml==0.7.1
google-api-core==2.24.1
google-auth==2.38.0
google-cloud-speech==2.30.0
googleapis-common-protos==1.67.0rc1
grpcio==1.70.0
grpcio-status==1.70.0
idna==3.10
importlib_metadata==8.6.1
jira==3.8.0
macholib==1.16.3
oauthlib==3.2.2
packaging==24.2
pefile==2023.2.7
pillow==11.1.0
prompt_toolkit==3.0.50
proto-plus==1.26.0
protobuf==5.29.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
PyAudio==0.2.14
pydantic==2.10.6
pydantic_core==2.27.2
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2025.0
pywin32-ctypes==0.2.3
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rsa==4.9
setuptools==75.8.0
SpeechRecognition==3.14.0
standard-aifc==3.13.0
standard-chunk==3.13.0
typing_extensions==4.12.2
urllib3==2.3.0
wcwidth==0.2.13
zipp==3.21.0
